

.sec1{
    width:100%;
    display:flex;
    flex-direction: row;
    margin-bottom: 5vw;
}

.sec1_left{
    width:50%;
    padding-top:5vw;
}

.sec1_pic{
    width:80%;
    margin-left:11.5vw;
}

.sec1_right{
    width:50%;
    padding-top:5vw;
    padding-right:6.6vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color:white;
}

.sec1_text_title{
    margin:2vh;
    font-weight: 700;
}

.sec1_text_content{
    line-height: 4vh;
}

.sec2{
    color:white;
    display:flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
}

.sec2_title{
    margin-bottom:3vw;
}
.card_computer{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.card{
    height:25vw;
    width:19vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-style: solid;
    background-color: var(--bg);
    border-radius: 20px;
    border-color: white;
    border-width: 1px;
    margin:0.5vw;
    margin-bottom: 2vw;
}

.thumbnail{
    width:12vw;
    border-radius: 6vw;
    margin-bottom: 1vw;
}

.card h3{
    font-weight: 500;
}

.card_name{
    line-height: 3vw;
    
}

.card_position,.card_text{
    line-height: 2vw;
    font-weight: 400;
}

.card_r1{
    display: flex;
    flex-direction: row;
}

.card_red{
    border-color:var(--red)
}
.card_yellow{
    border-color:var(--yellow);
    margin-top:12.5vw;
}
.card_green{
    border-color:var(--green)
}
.card_blue{
    border-color:var(--blue);
    margin-top:12.5vw;
}

.card_inv{
    border-color: transparent;
    background-color: transparent;
}

.backline_con{
    height:300vw;

}

.card_phone{
    display:none;
}

@media (max-width: 768px) {
    .sec1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec1_left{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .sec1_right{
        width:100%;
        padding:0;
    }
    .card_computer{
        display:none;
    }
    .card_phone{
        display:block;
    }
    .sec1_pic{
        margin:0;
        width: 75%;
    }

    .card{
        width:70vw; 
        height:30vw;
        flex-direction: row;
        justify-content: left;
        padding-left:5vw;
        padding-right: 5vw;
        text-align: start;
        
    }
    .sec1{
        margin-bottom: 12vw;
    }

    .thumbnail{
        width:20vw;
        border-radius: 10vw;
        margin-bottom: 0vw;
        margin-right:5vw;
    }
    
    .card h3{
        font-weight: 500;
    }
    
    .card_name{
        line-height: 8vw;
        font-weight: 500;
        
    }
    
    .card_position,.card_text{
        line-height: 5vw;
        font-weight: 300;
    }
    .group_name{
        width:68vw;
        height:10vw;
        border-radius: 10vw;
        border-style: solid;
        border-width: 1px;
        border-color:white;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-left:6vw;
        padding-right: 6vw;
        margin-top: 3vw;
    }
    



    .group_lead,.group_teaching,.group_pm,.group_rd,.group_ui{
        margin-bottom: 6vw;
    }
    .group_teaching .group_name,.group_teaching .card{
        border-color: var(--red);
    }
    .group_pm .group_name,.group_pm .card{
        border-color: var(--yellow);
    }
    .group_rd .group_name,.group_rd .card{
        border-color: var(--green);
    }
    .group_ui .group_name,.group_ui .card{
        border-color: var(--blue);
    }
    .sec2 .font2{
        font-weight: 300;
        letter-spacing: 2px;
    }

    .add,.add2,.add3,.add4,.add5{
        width:5vw;
        position: relative;
        z-index:0;
    }
    .add_line{
        
        width:5vw;
        height:0.7vw;
        border-radius: 1vw;
        background-color: white;
        opacity: 1;
        transition:0.4s;
    }
    .add_bar1,.add2_bar1,.add3_bar1,.add4_bar1,.add5_bar1{
        -webkit-transform: rotate(-90deg) translate(-0.5vw, 0vw);
        transform: rotate(-90deg) translate(-0.5vw, 0vw);
    }
    .add_bar2,.add2_bar2,.add3_bar2,.add4_bar2,.add5_bar2{
        -webkit-transform: translate(0vw, -0.2vw);
        transform: translate(0vw, -0.2vw);
    }
    .change .add_bar1,.change .add2_bar1,.change .add3_bar1,.change .add4_bar1,.change .add5_bar1{
        opacity: 0;
        -webkit-transform: rotate(0deg) translate(0.5vw, 0vw);
        transform: rotate(0deg) translate(0.5vw, 0vw);
    }

    .card_list,.card_list2,.card_list3,.card_list4,.card_list5{
        height:0vw;
        opacity: 0;
        overflow: hidden;
        overflow-y: auto;
        transition: 0.7s;
        padding-top: 3vw;
    }
    .grow {
        opacity: 1;
        height:96vw;
        overflow: visible;
        transition: 0.7s;
    }

    .grow2 {
        opacity: 1;
        height:256vw;
        overflow: visible;
        transition: 0.7s;
    }
    .grow3{
        opacity: 1;
        height:64vw;
        overflow: visible;
        transition: 0.7s;
    }
    .grow4{
        opacity: 1;
        height:128vw;
        overflow: visible;
        transition: 0.7s;
    }
    .grow5{
        opacity: 1;
        height:64vw;
        overflow: visible;
        transition: 0.7s;
    }
    .card{
        opacity: 0;
        position: relative;
        z-index: -1;
        -webkit-transform: rotate(0deg) translate(0vw, -15vw);
        transform: rotate(0deg) translate(0vw, -15vw); 
        transition: 2s;
    }
    .grow .card, .grow2 .card,.grow3 .card,.grow4 .card,.grow5 .card{
        opacity: 1;
        position: relative;
        z-index: -1;
        -webkit-transform: rotate(0deg) translate(0vw, 0vw);
        transform: rotate(0deg) translate(0vw, 0vw);
        transition: 2s;
    }
}
