:root {
    --red: #EA4335;
    --yellow:#FBBC04;
    --green:#0F9D58;
    --blue:#4285F4;
    --bg:#2E2E2E;
    --fortypx:1.6vw;
    --thirtypx:1.4vw;
    --twofourpx:
  }

.font1{
    font-size: 1.2vw;
    margin:0;
    padding:0;
}
.font2{
    font-size: 1vw;
    margin:0;
    padding:0;
}
.font3{
    font-size: 0.8vw;
    margin:0;
    padding:0;
    font-weight: 400;
}
.font4{
    font-size: 0.6vw;
    margin:0;
    padding:0;
    font-weight: 400;

}



@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .font1{
        font-size:1.6vw;
    }
    .font2{
        font-size:1.4vw;
    }
    .font3{
        font-size:1.2vw;
    }
    .font4{
        font-size:1vw;
    }
    

}

@media (max-width: 768px) {
    .font1{
        font-size:6vw;
    }
    .font2{
        font-size:4.5vw;
    }
    .font3{
        font-size:3.5vw;
        font-weight: 300;
    }
    .font4{
        font-size:3vw;
    }
}

body{
    margin:0;
    background-color:#2E2E2E;
    height:auto;
    width:100vw;
    overflow-x: hidden;
    font-family: "Menlo",sans-serif;
    
}

.lifesucks{
    background-color:white;
   
}

.frame{
    
    display:flex;
    z-index: 2;
    position:fixed;
    left:0;
    top:0;
    height:100vh;
    width:100vw;
    pointer-events: none;
    
}

.frame2{
    height:96vh;
    width:100vw;
    border-style: solid;
    border-width:2vh;
    border-left-color:var(--red);
    border-top-color: var(--yellow);
    border-right-color:var(--green);
    border-bottom-color: var(--blue);

}


.backline_con{
    /* padding-left:2vh;
    padding-right:2vh; */
    margin:0;
    display:flex;
    
    position: absolute;
    z-index: -1;
    flex-direction: row;
    justify-content: space-evenly;
    width:100vw;
    /* height:200vh; */

}

.line{
    background-color:var(--red);
    width:1px;
    height:100%;
}

.header{
    margin-top:0vw;
    position: fixed;
    z-index: 2;
    padding:2vw;
    padding-top:0vw;
    width:100vw;
    height:7vw;
    background-color:var(--bg);
    padding-bottom:4vw;
    border-style: solid;
    border-bottom-width:1px;
    border-bottom-color:white;

    display:flex;
    flex-direction: row;
}

.header_left{
    
    width:45%;
    align-items: center;
    padding-left:2%;
    padding-top:2vw;
}
.header_logo{
    width:35vw;
}
.header_right{
    padding-top:4.5vw;
    width:55%;
    padding-right:5vw;
    display:flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-around;
    font-size:1vw;
}

.menu{
    display:none;
}

.nav_text{
    color:white;
}

.header_red:hover{
    color:var(--red)
}

.header_yellow:hover{
    color:var(--yellow)
}

.header_green:hover{
    color:var(--green)
}

.header_blue:hover{
    color:var(--blue)
}

.header_blank{
    height:11vw;
}

/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  @media (max-width: 768px) {

    .backline_con{
        display:none;
    }
    .frame2{
        border-width: 1vh;
        height:98vh;
    }
    .nav_text{
        display:none;
    }
    .header_left{
        width:80%;
    }
    .header{
        height:20vw;
        border-width:0px;
    }
    
    .header_logo{
        width:65vw;
        padding-top: 3vw;
        padding-left:5vw
    }
    
    
    .header_blank{
        height:24vw;
    }

    .menu{
        display:flex;
        flex-direction: column;
        position: fixed;
        z-index: 4;
        right:10vw;
        top:8.5vw;
    }
    .menu_line{
        background-color: white;
        width:10vw;
        height:1vw;
        border-radius: 1vw;
        transition: 1s;
    }
    .menu_space{
        height:2vw;
    }

    .change .bar1 {
        
        -webkit-transform: rotate(-45deg) translate(-3vw, 1.5vw);
        transform: rotate(-45deg) translate(-3vw, 1.5vw);
        
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-2.5vw, -1vw);
        transform: rotate(45deg) translate(-2.5vw, -1vw);
      }

      .navbar{
          display: flex;
          z-index: 2;
          flex-direction: column;
          position: fixed;

          right:-75vw;
          top:0;
          opacity: 0;

          width:65vw;
          height:100vh;
          padding-top:15vh;
          padding-left: 10vw;

          background-color: rgba(0,0,0,0.7);
          opacity:1;
          transition: 1s;

      }

      .navbar_text{
          color:white;
          font-weight: lighter;
          letter-spacing: 2px;
          margin-bottom:4vh;
      }

      

      .add{
        position: relative;
        width:5vw;
        z-index: 1;
    }

    .show{
        right:0vw;
        flex-direction: column;
    }
  }

  